body {
	background-color: #5BA3D6;

}

input {
	background-color: #5BA3D6;
	color:white;
	border:2px solid white;
	font-family: Arial;
	width: 100%;
	margin-bottom: 20px;
	vertical-align: top;
	padding:5px 0px;
}

select {
	background-color: #5BA3D6;
	color: white;
	margin-bottom: 20px;
	font-family: Arial;
	width: 100%;
	border: .25px solid grey;



}

label {
	color:white;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: bold;
	font-family: Arial;
	display: block;
	padding-left: 1px;
	margin-bottom: 2px;
	width: 100%;
	text-align: left;

}

.largetext {
	height: 100px;
}
/*at this point all was good with the first 5 items on the left side*/

.container {
	width: 100%;
	text-align: center;
}

.column {
	display: inline-block;
	width: 100px;
	padding:0px 20px;
	box-sizing: border-box;
}

.left {
	width: 32%;
	vertical-align: top;
	align-content: center;

}

.middle {
	width: 32%;
	vertical-align: top;
}

.right {
	width: 32%; /*updated all 3 from 200px*/
	vertical-align: top;
}
/*everything worked up to this point, putting the 3 columns side-by-side looking great*/

form {
	width:100%; /*updated from 620px 5/31*/
}

/*can't move the button to the right-hand side*/

/*now trying the media query thing*/

@media only screen and (max-width: 990px) {
    .column {
    	display: block;
    }
    }
}


/*the below are things to change placeholder information*/

::-webkit-input-placeholder {
   color: #2B6C9B;
  font-style:italic;
  vertical-align: top;

}

:-moz-placeholder { /* Firefox 18- */
   color: #2B6C9B;
  font-style:italic;
  vertical-align: top;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2B6C9B;
  font-style:italic;
  vertical-align: top;
}

:-ms-input-placeholder {  
   color: #2B6C9B;
  font-style:italic;
  vertical-align: top;
}